<div
  class="eventcard"
  [ngClass]="{ 'image-only': onlyImage }"
  [routerLink]="['/events', event._id]"
>
  <img
    [src]="event.imageUrl || 'assets/placeholder.png'"
    alt="Event image"
    class="eventimage"
    onerror="this.src='assets/placeholder.png'"
  />
  <div class="event-name">
    <h3 *ngIf="!onlyImage" #eventName>{{ event.eventName }}</h3>
  </div>

  <!-- Show span element if overflown -->
  <span class="hover-name" *ngIf="!onlyImage && isNameOverflow">{{
    event.eventName
  }}</span>

  <div *ngIf="!onlyImage" class="eventcard-info">
    <p>{{ event.date }}</p>
    <p>{{ event.city }}</p>
  </div>
</div>
