<head>
  <!-- Google Icon, Login icon -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
</head>
<nav>
  <div>
    <h2>STUNITE</h2>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">ETUSIVU</a></li>
      <li><a routerLink="/events" routerLinkActive="active">TAPAHTUMAT</a></li>
      <li>
        <a routerLink="/associations" routerLinkActive="active"
          >PAIKALLISYHDISTYKSET</a
        >
      </li>
    </ul>
    <!-- Edit to open login modal, when login modal is ready -->
    <a class="login-icon">
      <span class="material-symbols-outlined"> person </span>
    </a>
  </div>
</nav>
