<!-- Google Icon, Login icon and Menu icon -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<nav id="grad">
  <div>
    <h2><a routerLink="/home" routerLinkActive="active">Stunite</a></h2>

    <ul class="menu-desktop">
      <li><a routerLink="/home" routerLinkActive="active">ETUSIVU</a></li>
      <li><a routerLink="/events" routerLinkActive="active">TAPAHTUMAT</a></li>
      <li>
        <a routerLink="/associations" routerLinkActive="active"
          >PAIKALLISYHDISTYKSET</a
        >
      </li>
    </ul>

    <ul class="menu-mobile" *ngIf="menuOpen" (click)="onMenuClick()">
      <ng-container *ngIf="authenticated">
        <li>Terve {{ getUser() }}</li>
      </ng-container>
      <li><a routerLink="/home" routerLinkActive="active">ETUSIVU</a></li>
      <hr width="100%" size="2" />
      <li><a routerLink="/events" routerLinkActive="active">TAPAHTUMAT</a></li>
      <hr width="100%" size="2" />
      <li>
        <a routerLink="/associations" routerLinkActive="active"
          >PAIKALLISYHDISTYKSET</a
        >
      </li>
      <hr width="100%" size="2" />

      <ng-container *ngIf="authenticated; else login">
        <li><a (click)="onProfileClick()">PROFIILI</a></li>
        <hr width="100%" size="2" />
        <li><a (click)="logOut()">KIRJAUDU ULOS</a></li>
        <hr width="100%" size="2" />
        <li><a>ASETUKSET?</a></li>
        <hr width="100%" size="2" />
      </ng-container>

      <ng-template #login>
        <li>
          <a (click)="triggerLoginModal()">KIRJAUDU SISÄÄN</a>
        </li>
        <hr width="100%" size="2" />
        <li>
          <a routerLink="/register" routerLinkActive="active">REKISTERÖIDY</a>
        </li>
        <hr width="100%" size="2" />
      </ng-template>
    </ul>

    <a class="login-icon" (click)="onProfileClick()">
      <span class="material-symbols-outlined"> account_circle </span>
    </a>

    <span class="material-symbols-outlined menu" (click)="onMenuClick()">
      menu
    </span>
  </div>
</nav>
