<!-- Google Icon, Login icon and Menu icon -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<nav id="grad">
  <div>
    <h2><a routerLink="/home" routerLinkActive="active">Stunite</a></h2>

    <ul class="menu-desktop">
      <li><a routerLink="/home" routerLinkActive="active">ETUSIVU</a></li>
      <li><a routerLink="/events" routerLinkActive="active">TAPAHTUMAT</a></li>
      <li>
        <a routerLink="/associations" routerLinkActive="active">YHTEISÖ</a>
      </li>
    </ul>

    <!-- Mobile view -->
    <ul class="menu-mobile" *ngIf="menuOpen" (click)="onMenuClick()">
      <!-- If logged in-->
      <ng-container *ngIf="authenticated">
        <div class="mobile-nav-user">
          <p>Terve {{ username() }}</p>
          <span class="material-symbols-outlined"> account_circle </span>
        </div>
      </ng-container>

      <!-- If not logged in -->
      <ng-container *ngIf="!authenticated">
        <div class="mobile-nav-user">
          <p>Terve, Vierailija</p>
          <span class="material-symbols-outlined"> account_circle </span>
        </div>
      </ng-container>

      <li><a routerLink="/home" routerLinkActive="active">Etusivu</a></li>
      <hr width="100%" size="2" />
      <li><a routerLink="/events" routerLinkActive="active">Tapahtumat</a></li>
      <hr width="100%" size="2" />
      <li>
        <a routerLink="/associations" routerLinkActive="active">Yhteisö</a>
      </li>
      <hr width="100%" size="2" />

      <!--  -->
      <ng-container *ngIf="authenticated; else login">
        <ng-container *ngIf="isOrganizer; else normaluser">
          <li><a routerLink="/organizer-view">Järjestäjä näkymä</a></li>
          <hr width="100%" size="2" />
        </ng-container>
        <ng-template #normaluser>
          <li><a (click)="onProfileClick()">Oma profiili</a></li>
          <hr width="100%" size="2" />
        </ng-template>
        <li><a>Suosikit(Coming soon)</a></li>
        <hr width="100%" size="2" />
        <li><a>Asetukset(Coming soon)</a></li>
        <hr width="100%" size="2" />
        <li>
          <div class="mobile-nav-logout">
            <a (click)="logOut()">Kirjaudu Ulos</a>
            <span class="material-symbols-outlined"> logout </span>
          </div>
        </li>
        <hr width="100%" size="2" />
      </ng-container>

      <ng-template #login>
        <li>
          <a (click)="triggerLoginModal()">Kirjaudu Sisään</a>
        </li>
        <hr width="100%" size="2" />
        <li>
          <a routerLink="/register" routerLinkActive="active">Rekisteröidy</a>
        </li>
        <hr width="100%" size="2" />
      </ng-template>
    </ul>

    <a class="login-icon" (click)="onProfileIconClick()">
      <span class="material-symbols-outlined"> account_circle </span>
    </a>

    <span class="material-symbols-outlined menu" (click)="onMenuClick()">
      menu
    </span>

    <div
      *ngIf="showProfileMenu"
      class="profile-menu"
      (click)="closeProfileMenu($event)"
    >
      <div class="profile-info">
        <img
          class="profile-picture"
          src="assets/unicorn.webp"
          alt="Profile Picture"
        />
        <h4>{{ username() }}</h4>
        <p>{{ email() }}</p>
      </div>
      <ul>
        <ng-container *ngIf="isOrganizer; else normaluser">
          <li><a routerLink="/organizer-view">Järjestäjä näkymä</a></li>
        </ng-container>
        <ng-template #normaluser>
          <li><a (click)="onProfileClick()">Oma profiili</a></li>
        </ng-template>

        <li><a>Suosikit</a></li>
        <li><a>Asetukset</a></li>
        <li><a (click)="logOut()">Kirjaudu ulos</a></li>
      </ul>
    </div>
  </div>
</nav>
