<div class="page-container">
  <h1>Järjestäjäkalenteri</h1>

  <div class="filters">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Etsi tapahtumaa..."
      (ngModelChange)="onSearchChange(searchTerm)"
    />

    <select
      [(ngModel)]="selectedCity"
      (ngModelChange)="onCityChange(selectedCity)"
    >
      <option value="">Valitse kaupunki</option>
      <option *ngFor="let city of availableCities" [value]="city">
        {{ city }}
      </option>
    </select>

    <select
      [(ngModel)]="selectedTag"
      (ngModelChange)="onTagChange(selectedTag)"
    >
      <option value="">Valitse tunniste</option>
      <option *ngFor="let tag of availableTags" [value]="tag">{{ tag }}</option>
    </select>

    <div class="date-range-filter">
      <input
        type="date"
        [(ngModel)]="selectedDateRange.start"
        (ngModelChange)="
          onDateRangeChange(selectedDateRange.start, selectedDateRange.end)
        "
      />
      -
      <input
        type="date"
        [(ngModel)]="selectedDateRange.end"
        (ngModelChange)="
          onDateRangeChange(selectedDateRange.start, selectedDateRange.end)
        "
      />
    </div>
  </div>

  <full-calendar
    class="full-calendar"
    [options]="calendarOptions"
  ></full-calendar>

  <div
    *ngIf="tooltipVisible"
    class="event-calendar-hover"
    [ngStyle]="{ top: tooltipPosition.top, left: tooltipPosition.left }"
    [innerHTML]="tooltipContent"
  ></div>

  <div class="color-info-div">
    <div class="color-info">
      <span class="dot-confirmed"></span>
      <p>Vahvistettu tapahtumavaraus</p>
      <span class="material-symbols-outlined confirmed-info"> help </span>
      <span class="color-info-hover">Tapahtuman tiedot on lyöty lukkoon.</span>
    </div>
    <div class="color-info">
      <span class="dot-notconfirmed"></span>
      <p>Alustava tapahtumasuunnitelma</p>
      <span class="material-symbols-outlined notconfirmed-info"> help </span>
      <span class="color-info-hover"
        >Tapahtuman tiedot (esim. aika tai paikka) voivat vielä muuttua.</span
      >
    </div>
    <button class="button2" (click)="goToCreateEvent()">
      Luo uusi tapahtuma
    </button>
  </div>

  <div class="event-list">
    <div class="tab-container">
      <button
        (click)="activeTab = 'upcoming'"
        [class.active]="activeTab === 'upcoming'"
        class="tab-button"
      >
        Tulevat tapahtumat
      </button>
      <button
        (click)="activeTab = 'past'"
        [class.active]="activeTab === 'past'"
        class="tab-button"
      >
        Menneet tapahtumat
      </button>
    </div>

    <div *ngIf="activeTab === 'upcoming'" class="events-div">
      <div *ngFor="let event of upcomingEvents">
        <div class="event-list-line" (click)="goToEventPage(event)">
          <span
            [ngClass]="{
              'dot-confirmed': event.status === 'Tuotannossa',
              'dot-notconfirmed': event.status === 'Varattu'
            }"
          ></span>
          <div class="event-list-text">
            <p>{{ event.date }} klo {{ event.startingTime }}</p>
            <p>
              <strong>{{ event.eventName }}</strong>
            </p>
            <p>{{ event.venue }}, {{ event.city }}, {{ event.address }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="activeTab === 'past'" class="events-div">
      <div *ngFor="let event of pastEvents">
        <div class="event-list-line" (click)="goToEventPage(event)">
          <span
            [ngClass]="{
              'dot-confirmed': event.status === 'Tuotannossa',
              'dot-notconfirmed': event.status === 'Varattu'
            }"
          ></span>
          <div class="event-list-text">
            <p>{{ event.date }} klo {{ event.startingTime }}</p>
            <p>
              <strong>{{ event.eventName }}</strong>
            </p>
            <p>{{ event.venue }}, {{ event.city }}, {{ event.address }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
