.dot-confirmed {
  height: 25px;
  width: 25px;
  background-color: #fe7775;
  margin-right: 10px;
  border-radius: 50%;
  aspect-ratio: 1;
}

:host ::ng-deep .fc .fc-button-primary {
  color: black;
  background-color: white;
  background-image: none;
  box-shadow: none;
}

:host ::ng-deep .fc .fc-toolbar-title  {
  font-family: "Noto sans", sans-serif;
}

.dot-notconfirmed {
  height: 25px;
  width: 25px;
  background-color: #f0d37c;
  border-radius: 50%;
  margin-right: 10px;
  aspect-ratio: 1;
}

.color-info {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 18px;
  font-size: 24px;
  position: relative;
  z-index: 0;
}

.color-info-div {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 34px;
}
.no-events-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.filters select {
  height: 45px;
  margin-right: 10px;
  border: 1px solid #b2b2b2;
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #fff5f9;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.full-calendar {
  margin: 5%;
  max-width: 1500px;
  max-height: 800px;
  position: relative;
  z-index: 0;
  font-family: "Noto Sans", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px 80px;
}

.event-list-line {
  display: flex;
  align-items: center;
  border-bottom: #cccccc solid 1px;
  padding-left: 28px;
  font-size: 24px;
  cursor: pointer;
  gap: 10px;
}

.event-list-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.event-list-text p {
  word-wrap: break-word;
  word-break: break-word;
  text-align: start;
}

.event-list-header {
  font-size: 36px;
  display: block;
  text-align: left;
  margin-bottom: 0px;
  padding-left: 24px;
  padding-bottom: 12px;
  border-bottom: solid 3px #cccccc;
}

.material-symbols-outlined.confirmed-info:hover + .color-info-hover,
.material-symbols-outlined.notconfirmed-info:hover + .color-info-hover {
  visibility: visible;
}

.color-info-hover {
  visibility: hidden;
  width: 150px;
  font-size: 14px;
  background-color: #ffffff;
  padding: 5px 8px;
  border: solid 2px #cccccc;
  border-radius: 6px;
  position: absolute;
  z-index: 0;
  left: 105%;
  bottom: 20%;
}

/*  calendar event hover element css */
.event-calendar-hover {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  text-align: left;
  flex-direction: column;
  width: auto;
  max-width: 200px;
}

.button2 {
  max-height: 100px;
  max-width: auto;
  font-size: 24px;
}
.tab-container {
  display: flex;
}
.events-div {
  background: linear-gradient(#fff5f9, #fff5f9) padding-box,
    linear-gradient(
        to right,
        #f3afab,
        #ebdfaf,
        #c6f1ba,
        #ace8f0,
        #c9b6f0,
        #f1b8e5
      )
      border-box;
  border: 3px solid transparent;
  border-top: none;
  border-radius: 0 0 20px 20px;
}
.tab-button {
  border-radius: 17px 17px 0 0;
  background-image: none;
  box-shadow: none;
  width: 100%;
  background: linear-gradient(white, rgb(234, 234, 234)) padding-box,
    linear-gradient(
        to right,
        #f3afab,
        #ebdfaf,
        #c6f1ba,
        #ace8f0,
        #c9b6f0,
        #f1b8e5
      )
      border-box;
  border-bottom: 3px solid transparent;
}
.tab-button.active {
  background: linear-gradient(#fff5f9, #fff5f9) padding-box,
    linear-gradient(
        to right,
        #f3afab,
        #ebdfaf,
        #c6f1ba,
        #ace8f0,
        #c9b6f0,
        #f1b8e5
      )
      border-box;
  border: 3px solid transparent;
  border-bottom: none;
}
@media (max-width: 1100px) {
  .color-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-list-line {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 58px;
  }

  .page-container {
    margin: 0 20px;
  }
  .color-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .color-info {
    font-size: 16px;
  }

  .event-list-line {
    flex-direction: row;
    align-items: center;
    text-align: left;
    font-size: 16px;
  }

  .event-list-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 15px 30px 15px 0px;
  }
  .event-list-text p {
    margin: 0;
  }
  .full-calendar {
    width: 400;
    height: 700px;
  }
}
