.calendar-wrapper {
  max-width: 500px;
  min-width: 200px;
  margin: 8px;
  width: 100%;
}

.igx-calendar {
  --ig-size: 6;
  border: solid 3px #b2b2b2;
  border-radius: 24px;
}

:host ::ng-deep .igx-calendar .igx-calendar__header {
  display: none;
}

.event-info {
  max-width: 500px;
  min-width: 200px;
  border: #b2b2b2 2px solid;
  border-radius: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px;
}

.whole-calendar {
  position: relative;
  z-index: 0;
}

@media (max-width: 768px) {
  .igx-calendar {
    --ig-size: 3;
  }
}
@media (max-width: 460px) {
  .igx-calendar {
    --ig-size: 1;
  }
}
