.calendar-wrapper {
  max-width: 500px;
  min-width: 200px;
  margin: 8px;
}

.igx-calendar {
  --ig-size: 2;
  border: solid 3px #b2b2b2;
  border-radius: 24px;
}

:host ::ng-deep .igx-calendar .igx-calendar__header {
  display: none;
}
