.your-events {
  display: flex;
  gap: 14px;
  margin: 30px 20px;
}
.your-events p {
  margin: 0;
  width: 200px;
  justify-content: center;
}

.your-events button {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1,
h2 {
  text-align: center;
  margin-top: 24px;
}
.arrow {
  font-size: 30px;
  margin-left: 8px;
  margin-top: -3px;
}
.important-button {
  max-width: 400px;
}
.page-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}
