.organizer-buttons {
  display: flex;
  gap: 8%;
  margin-bottom: 0;
}
.button2.big {
  max-height: 100px;
  max-width: auto;
  font-size: 24px;
}

.eventbuttons {
  display: flex;
  gap: 12px;
}

.logout-button {
  margin-top: 50px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 3.5em;
}
.arrow {
  font-size: 30px;
  margin-left: 8px;
  margin-top: -5px;
}
.important-button {
  max-width: 400px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-container {
  display: flex;
}

.tab-button {
  border-radius: 17px 17px 0 0;
  background-image: none;
  box-shadow: none;
  width: 100%;
  background: linear-gradient(white, rgb(234, 234, 234)) padding-box,
    linear-gradient(
        to right,
        #f3afab,
        #ebdfaf,
        #c6f1ba,
        #ace8f0,
        #c9b6f0,
        #f1b8e5
      )
      border-box;
  border-bottom: 2px solid transparent;
}
.tab-button.active {
  background: linear-gradient(#fff5f9, #fff5f9) padding-box,
    linear-gradient(
        to right,
        #f3afab,
        #ebdfaf,
        #c6f1ba,
        #ace8f0,
        #c9b6f0,
        #f1b8e5
      )
      border-box;
  border: 2px solid transparent;
  border-bottom: none;
}
.events-div {
  background: linear-gradient(#fff5f9, #fff5f9) padding-box,
    linear-gradient(
        to right,
        #f3afab,
        #ebdfaf,
        #c6f1ba,
        #ace8f0,
        #c9b6f0,
        #f1b8e5
      )
      border-box;
  border: 2px solid transparent;
  border-top: none;
  border-radius: 0 0 20px 20px;
  width: 900px;
}
.your-events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.event-text {
  display: flex;
  font-size: 18px;
  gap: 12px;
  margin: 0px 24px;
}

.date {
  margin-right: 10px;
}

.event-name {
  width: 285px;
}

.eventbuttons button {
  margin: 5px;
}
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-height: 100px;
  text-align: center;
  min-width: 200px;
}

@media (max-width: 940px) {
  .eventname p {
    font-size: 24px;
  }
  .eventbuttons {
    flex-direction: column;
  }
  .button2 {
    min-height: 60px;
  }
  .events-div {
    max-width: auto;
    width: auto;
  }
  .eventname {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .your-events {
    flex-direction: column;
    margin-bottom: 25px;
    padding-top: 25px;
    gap: 12px;
  }
  .event-text {
    flex-direction: column;
    gap: 0;
    margin: 0;
    text-align: center;
  }
  .event-text p {
    margin: 0;
  }
  .organizer-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media (max-width: 460px) {
  .eventbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
