<div class="page-container">
  <h1>Tervetuloa järjestäjänäkymään!</h1>

  <div class="organizer-buttons">
    <button class="button2 big" (click)="goToCreateEvent()">
      Luo uusi tapahtuma
    </button>
    <button class="button2 big" (click)="goToOrganizerCalendar()">
      Siirry järjestäjäkalenteriin
    </button>
  </div>

  <div class="">
    <h2>Sinun tapahtumasi:</h2>
    <div class="tab-container">
      <button (click)="activeTab = 'upcoming'" [class.active]="activeTab === 'upcoming'" class="tab-button">
        Tulevat tapahtumat
      </button>
      <button (click)="activeTab = 'past'" [class.active]="activeTab === 'past'" class="tab-button">
        Menneet tapahtumat
      </button>
    </div>

    <div *ngIf="activeTab === 'upcoming'" class="events-div">
      <div *ngFor="let event of upcomingEvents" class="your-events">
        <div class="event-text">
          <p class="date">{{ event.date }}</p>
          <strong>
            <p class="event-name">{{ event.eventName }}</p>
          </strong>

        </div>
        <div class="eventbuttons">
          <button class="button2" (click)="editEvent(event)">
            Muokkaa tapahtuman tietoja
          </button>
          <button class="button2" (click)="goToEventPage(event)">
            Siirry tapahtuman sivulle <span class="arrow">&#8250;</span>
          </button>
          <button class="button2" (click)="deleteEvent(event._id)">
            Poista tapahtuma
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="activeTab === 'past'" class="events-div">
      <div *ngFor="let event of pastEvents" class="your-events">
        <div class="event-text">
          <p class="date">{{ event.date }}</p>
          <strong>
            <p class="event-name">{{ event.eventName }}</p>
          </strong>
        </div>
        <div class="eventbuttons">
          <button class="button2" (click)="goToEventPage(event)">
            Siirry tapahtuman sivulle <span class="arrow">&#8250;</span>
          </button>
          <button class="button2" (click)="deleteEvent(event._id)">
            Poista tapahtuma
          </button>
        </div>
      </div>
    </div>

    <ng-template #noEvents>
      <p>Ei tapahtumia.</p>
    </ng-template>
  </div>

  <button (click)="logout()" class="button2 logout-button">Kirjaudu ulos</button>
</div>