<div class="page-container">
  <h2>Tervetuloa järjestäjänäkymään</h2>

  <button class="important-button" (click)="goToCreateEvent()">
    Luo uusi tapahtuma
  </button>

  <div>
    <h2>Sinun tapahtumasi:</h2>
    <hr />
    <div *ngIf="events.length > 0; else noEvents">
      <div *ngFor="let event of events" class="your-events">
        <p>
          <strong>{{ event.eventName }}</strong>
        </p>
        <button (click)="editEvent(event)">Muokkaa tapahtuman tietoja</button>

        <button (click)="goToEventPage(event)">
          Siirry tapahtuman sivulle <span class="arrow">&#8250;</span>
        </button>
      </div>
    </div>
    <ng-template #noEvents>
      <p>Ei tapahtumia.</p>
    </ng-template>
  </div>

  <button (click)="logout()">Kirjaudu ulos</button>

  <!-- delete this later -->
  <!-- <button (click)="deletelocalstorage()">local storage delete dev</button> -->
</div>
