<div class="page-container">
  <h1>{{ isEditMode ? "Muokkaa tapahtumaa" : "Uusi tapahtuma" }}</h1>
  <div class="create-event">
    <form (ngSubmit)="onSubmit()" class="create-event-form" #eventForm="ngForm">
      <div class="form-field">
        <label>Tapahtuman nimi*</label>
        <input
          type="text"
          [(ngModel)]="eventName"
          name="eventName"
          #eventNameModel="ngModel"
          required
        />
        <div
          class="error"
          *ngIf="eventNameModel.invalid && eventNameModel.touched"
        >
          Tapahtuman nimi on pakollinen.
        </div>
      </div>

      <div class="form-field form-field-two">
        <label>Päivämäärä ja aloitusaika*</label>
        <div class="two-inputs">
          <input
            type="date"
            [(ngModel)]="eventDate"
            name="eventDate"
            #eventDateModel="ngModel"
            required
            (click)="openCalendar($event)"
          />

          <input
            type="time"
            [(ngModel)]="eventTime"
            name="eventTime"
            #eventTimeModel="ngModel"
            required
            (click)="openCalendar($event)"
          />
        </div>
        <div
          class="error"
          *ngIf="
            (eventDateModel.invalid || eventTimeModel.invalid) &&
            (eventDateModel.touched || eventTimeModel.touched)
          "
        >
          Päivämäärä ja aloitusaika ovat pakollisia.
        </div>
      </div>
      <div class="form-field form-field-two">
        <label>Lopetus päivämäärä ja aika*</label>
        <div class="two-inputs">
          <input
            type="date"
            [(ngModel)]="endingDate"
            name="endingDate"
            #endingDateModel="ngModel"
            required
            (click)="openCalendar($event)"
          />
          <input
            type="time"
            [(ngModel)]="endingTime"
            name="endingtime"
            #endingTimeModel="ngModel"
            required
            (click)="openCalendar($event)"
          />
        </div>
        <div
          class="error"
          *ngIf="
            (endingTimeModel.invalid || endingTimeModel.invalid) &&
            (endingDateModel.touched || endingDateModel.touched)
          "
        >
          Lopetus päivämäärä ja aika ovat pakollisia.
        </div>
      </div>
      <div class="form-field">
        <label>Kaupunki*</label>
        <input
          type="text"
          [(ngModel)]="city"
          name="city"
          #cityModel="ngModel"
          required
        />
        <div class="error" *ngIf="cityModel.invalid && cityModel.touched">
          Kaupunki on pakollinen.
        </div>
      </div>

      <div class="form-field">
        <label>Osoite*</label>
        <input
          type="text"
          [(ngModel)]="address"
          name="address"
          #addressModel="ngModel"
          required
        />
        <div class="error" *ngIf="addressModel.invalid && addressModel.touched">
          Osoite on pakollinen.
        </div>
      </div>

      <div class="form-field">
        <label>Tapahtumapaikka*</label>
        <input
          type="text"
          [(ngModel)]="venue"
          name="venue"
          #venueModel="ngModel"
          required
        />
        <div class="error" *ngIf="venueModel.invalid && venueModel.touched">
          Tapahtumapaikka on pakollinen.
        </div>
      </div>
      <div class="form-field">
        <label>Tapahtuman kuvaus</label>
        <textarea
          placeholder="Tapahtuman kuvaus"
          [(ngModel)]="details"
          name="details"
          rows="4"
        ></textarea>
      </div>
      <div class="form-field">
        <label>Lipun hinta (min-max)*</label>
        <div class="two-inputs">
          <input
            type="number"
            placeholder="min"
            [(ngModel)]="minticketprice"
            name="ticketpriceMin"
            #ticketMinModel="ngModel"
            required
          />
          <input
            type="number"
            placeholder="max"
            [(ngModel)]="maxticketprice"
            name="ticketpriceMax"
            #ticketMaxModel="ngModel"
            required
          />
        </div>
        <div
          class="error"
          *ngIf="
            (ticketMinModel.invalid || ticketMaxModel.invalid) &&
            (ticketMinModel.touched || ticketMaxModel.touched)
          "
        >
          Lipun hinta on pakollinen.
        </div>
      </div>
      <div class="form-field">
        <label>Lipunmyynnin aloitusaika*</label>
        <input
          type="datetime-local"
          placeholder="Lipunmyynnin aloitusaika"
          [(ngModel)]="ticketSaleStart"
          name="ticketSaleStart"
          #ticketSaleStartModel="ngModel"
          required
          (click)="openCalendar($event)"
        />
        <div
          class="error"
          *ngIf="ticketSaleStartModel.invalid && ticketSaleStartModel.touched"
        >
          Lipunmyynnin aloitusaika on pakollinen.
        </div>
      </div>

      <div class="form-field">
        <label>Lipunmyynnin loppumisaika*</label>
        <input
          type="datetime-local"
          placeholder="Lipunmyynnin loppumisaika"
          [(ngModel)]="ticketSaleEnd"
          name="ticketSaleEnd"
          #ticketSaleEndModel="ngModel"
          required
          (click)="openCalendar($event)"
        />
        <div
          class="error"
          *ngIf="ticketSaleEndModel.invalid && ticketSaleEndModel.touched"
        >
          Lipunmyynnin loppumisaika on pakollinen.
        </div>
      </div>

      <div class="form-field">
        <label
          >Onko tapahtuma alustava suunnitelma vai vahvistettu tapahtuma?*
          :</label
        >
        <!-- <p>
          Vahvistetun tapahtuman tiedot on ns. lyöty lukkoon ja on sille voi
          asettaa julkaisupäivän. Voit kuitenkin muokata vielä tapahtuman
          tietoja.
        </p>
        <p>
          Alustavalle suunnitelmalle ei voi asettaa julkaisupäivää. Kun olet
          varma tapahtuman tiedoista, vaihda "Alustava" -> "Vahvistettu"
          valintaan ja aseta julkaisuaika. Alustavat suunnitelmat ja niiden
          tiedot näkyvät kuitenkin järjestäjäkalenterissa muille järjestäjille.
        </p>
        <p>
          Huomioithan, että julkaistujen tapahtumien tietojen muokkaamisesta
          kertominen yhteisöllesi on järjestäjän vastuulla.
        </p> -->
        <select [(ngModel)]="status" name="status" required>
          <option value="Varattu">Vahvistettu</option>
          <option value="Tuotannossa">Alustava</option>
        </select>
      </div>
      <div class="form-field">
        <label>Tapahtuman julkaisupäivä ja kellonaika*</label>
        <input
          type="datetime-local"
          placeholder="Julkaisupäivä ja kellonaika"
          [(ngModel)]="publishDateTime"
          name="publishDateTime"
          [disabled]="status === 'Tuotannossa'"
          (click)="openCalendar($event)"
        />
        <small *ngIf="status === 'Tuotannossa'">
          Ei voi asettaa julkaisuaikaa alustavalle tapahtumalle.
        </small>
      </div>

      <p>Alla olevan toiminnallisuutta ei ole vielä tehty.</p>
      <div class="form-field">
        <label>Linkki lipunmyyntiin</label>
        <input type="text" [(ngModel)]="ticketLink" name="ticketLink" />
      </div>

      <div class="form-field">
        <label>Tapahtuman tagit*</label>
        <div class="tags-container">
          <div *ngFor="let tag of availableEventTags" class="tag-checkbox">
            <input
              type="checkbox"
              [id]="tag"
              [value]="tag"
              (change)="onTagCheckboxChange($event)"
              [checked]="eventTags.includes(tag)"
            />
            <label [for]="tag">{{ tag }}</label>
          </div>
        </div>
        <div class="error" *ngIf="eventTags.length === 0">
          <p>Valitse</p>
          <p>vähintään</p>
          <p>yksi tagi.</p>
        </div>
      </div>

      <div class="form-field">
        <label>Tapahtuman kuva</label>
        <input type="file" (change)="onFileSelected($event)" />
        <div *ngIf="imagePreview">
          <img
            [src]="imagePreview"
            alt="Esikatselukuva"
            style="max-width: 200px"
          />
        </div>
      </div>

      <div class="form-buttons">
        <button class="button2" type="submit" [disabled]="eventForm.invalid">
          {{ isEditMode ? "Tallenna muutokset" : "Luo tapahtuma" }}
        </button>
      </div>
    </form>
      <button class="button2 cancel" (click)="onCancel()">Peruuta</button>
  </div>
</div>
