<div class="page-container">
  <h1>{{ isEditMode ? "Muokkaa tapahtumaa" : "Uusi tapahtuma" }}</h1>
  <div class="create-event">
    <form (ngSubmit)="onSubmit()" class="create-event-form">
      <div class="form-field">
        <label>Tapahtuman nimi*</label>
        <input type="text" [(ngModel)]="eventName" name="eventName" required />
      </div>
      <div class="form-field form-field-two">
        <label>Päivämäärä ja aloitusaika*</label>
        <div class="two-inputs">
          <input
            type="date"
            [(ngModel)]="eventDate"
            name="eventDate"
            required
          />
          <input
            type="time"
            [(ngModel)]="eventTime"
            name="eventTime"
            required
          />
        </div>
      </div>
      <div class="form-field">
        <label>Kaupunki*</label>
        <input type="text" [(ngModel)]="city" name="city" required />
      </div>
      <div class="form-field">
        <label>Osoite*</label>
        <input type="text" [(ngModel)]="address" name="address" required />
      </div>
      <div class="form-field">
        <label>Tapahtumapaikka*</label>
        <input type="text" [(ngModel)]="venue" name="venue" required />
      </div>
      <div class="form-field">
        <label>Lipun hinta (min-max)*</label>
        <div class="two-inputs">
          <input
            type="number"
            placeholder="min"
            [(ngModel)]="minticketprice"
            name="ticketprice-min"
            required
          />
          <input
            type="number"
            placeholder="max"
            [(ngModel)]="maxticketprice"
            name="ticketprice-max"
            required
          />
        </div>
      </div>
      <div class="form-field">
        <label>Tapahtuman kuvaus</label>
        <textarea
          placeholder="Tapahtuman kuvaus"
          [(ngModel)]="details"
          name="details"
          rows="4"
        ></textarea>
      </div>
      <div class="form-field">
        <label>Lipunmyynnin aloitusaika</label>
        <input
          type="datetime-local"
          placeholder="Lipunmyynnin aloitusaika"
          [(ngModel)]="ticketSaleStart"
          name="ticketSaleStart"
        />
      </div>
      <div class="form-field">
        <label>Lipunmyynnin loppumisaika</label>
        <input
          type="datetime-local"
          placeholder="Lipunmyynnin loppumisaika"
          [(ngModel)]="ticketSaleEnd"
          name="salesTime"
        />
      </div>
      <div class="form-field">
        <label
          >Onko tapahtuma alustava suunnitelma vai vahvistettu tapahtuma?*
          :</label
        >
        <p>
          Vahvistetun tapahtuman tiedot on ns. lyöty lukkoon ja on sille voi
          asettaa julkaisupäivän. Voit kuitenkin muokata vielä tapahtuman
          tietoja.
        </p>
        <p>
          Alustavalle suunnitelmalle ei voi asettaa julkaisupäivää. Kun olet
          varma tapahtuman tiedoista, vaihda "Alustava" -> "Vahvistettu"
          valintaan ja aseta julkaisuaika. Alustavat suunnitelmat ja niiden
          tiedot näkyvät kuitenkin järjestäjäkalenterissa muille järjestäjille.
        </p>
        <p>
          Huomioithan, että julkaistujen tapahtumien tietojen muokkaamisesta
          kertominen yhteisöllesi on järjestäjän vastuulla.
        </p>
        <select [(ngModel)]="status" name="status" required>
          <option value="Varattu">Vahvistettu</option>
          <option value="Tuotannossa">Alustava</option>
        </select>
      </div>

      <div class="form-field">
        <label>Tapahtuman tagit*</label>
        <select [(ngModel)]="eventTags" name="eventTags" multiple required>
          <option *ngFor="let tag of availableEventTags" [value]="tag">
            {{ tag }}
          </option>
        </select>
        <p>
          Valitse haluamasi tagit (pidä Ctrl-näppäintä painettuna valitaksesi
          useita)
        </p>
      </div>
      <div class="form-field">
        <label>Tapahtuman julkaisupäivä ja kellonaika*</label>
        <input
          type="datetime-local"
          placeholder="Julkaisupäivä ja kellonaika"
          [(ngModel)]="publishDateTime"
          name="publishDateTime"
          [disabled]="status === 'Tuotannossa'"
        />
        <small *ngIf="status === 'Tuotannossa'">
          Ei voi asettaa julkaisuaikaa alustavalle tapahtumalle.
        </small>
      </div>

      <p>Alla olevan toiminnallisuutta ei ole vielä tehty.</p>
      <div class="form-field">
        <label>Linkki lipunmyyntiin</label>
        <input type="text" [(ngModel)]="ticketLink" name="ticketLink" />
      </div>
      <div class="form-buttons">
        <button (click)="onCancel()">Peruuta</button>
        <button type="submit">
          {{ isEditMode ? "Tallenna muutokset" : "Luo tapahtuma" }}
        </button>
      </div>
    </form>
  </div>
</div>
