<h1>{{ isEditMode ? "Muokkaa tapahtumaa" : "Uusi tapahtuma" }}</h1>
<div class="create-event">
  <form (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label>Tapahtuman nimi*</label>
      <input type="text" [(ngModel)]="eventName" name="eventName" required />
    </div>
    <div class="form-field">
      <label>Päivämäärä ja aloitusaika*</label>
      <input
        type="date"
        placeholder="Päivämäärä"
        [(ngModel)]="eventDate"
        name="eventDate"
        required
      />
      <input
        type="time"
        placeholder="Aloitusaika"
        [(ngModel)]="eventTime"
        name="eventTime"
        required
      />
    </div>
    <div class="form-field">
      <label>Kaupunki*</label>
      <input type="text" [(ngModel)]="city" name="city" required />
    </div>
    <div class="form-field">
      <label>Osoite*</label>
      <input type="text" [(ngModel)]="address" name="address" required />
    </div>
    <div class="form-field">
      <label>Tapahtumapaikka*</label>
      <input type="text" [(ngModel)]="venue" name="venue" required />
    </div>
    <div class="form-field">
      <label>Lipun hinta (min-max)*</label>
      <input
        type="text"
        placeholder="min"
        [(ngModel)]="minticketprice"
        name="ticketprice-min"
        required
      />
      <input
        type="text"
        placeholder="max"
        [(ngModel)]="maxticketprice"
        name="ticketprice-max"
        required
      />
    </div>
    <div class="form-field">
      <label>Tapahtuman kuvaus</label>
      <textarea
        placeholder="Tapahtuman kuvaus"
        [(ngModel)]="details"
        name="details"
        rows="4"
      ></textarea>
    </div>
    <div class="form-field">
      <label>Lipunmyynnin aloitusaika</label>
      <input
        type="datetime-local"
        placeholder="Lipunmyynnin aloitusaika"
        [(ngModel)]="ticketSaleStart"
        name="ticketSaleStart"
      />
    </div>
    <div class="form-field">
      <label>Lipunmyynnin loppumisaika </label>
      <input
        type="datetime-local"
        placeholder="Lipunmyynnin loppumisaika"
        [(ngModel)]="ticketSaleEnd"
        name="salesTime"
      />
    </div>
    <div class="form-field">
      <label>
        Onko tapahtuma alustava varaus vai tuotannossa?* :
        <select [(ngModel)]="status" name="status" required>
          <option value="Varattu">Varattu</option>
          <option value="Tuotannossa">Tuotannossa</option>
        </select>
      </label>
    </div>
    <p>
      Alla olevat eivät tee vielä mitään, eivät ole pakollisia kenttiä dev
      vaiheessa
    </p>
    <div class="form-field">
      <label>Teema/Pukukoodi</label>
      <input type="text" [(ngModel)]="theme" name="theme" />
    </div>
    <div class="form-field">
      <label>Linkki lipunmyyntiin</label>
      <input type="text" [(ngModel)]="ticketLink" name="ticketLink" />
    </div>

    <div class="form-field">
      <label>Tapahtuman julkaisupäivä ja kellonaika</label>
      <input
        type="datetime-local"
        placeholder="Julkaisupäivä ja kellonaika"
        [(ngModel)]="publishDateTime"
        name="publishDateTime"
      />
    </div>

    <button>Peruuta</button>
    <button type="submit">
      {{ isEditMode ? "Tallenna muutokset" : "Luo tapahtuma" }}
    </button>
  </form>
</div>
