h1 {
  text-align: center;
}

.featured-events {
  background-color: #fff5f9;
  border-style: solid;
  border-radius: 20px;
  border-color: #ffc3d9;
  display: flex;
  flex-direction: row;
  margin: 12px;
  align-items: center;
  gap: 20px;
  padding: 24px;
}
.featured-associations {
  background-color: #fff5f9;
  border-style: solid;
  border-radius: 20px;
  border-color: #ffc3d9;
  display: flex;
  padding: 24px;
  margin: 12px;
}
.events-section,
.calendar-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-calendar {
  width: 100%;
}

@media (max-width: 768px) {
  .featured-events {
    display: flex;
    flex-direction: column-reverse;
  }
}
