h1 {
  text-align: center;
}

.featured-events {
  background-color: #fff5f9;
  border-style: solid;
  border-radius: 20px;
  border-color: #ffc3d9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 12px;
  padding: 16px;
  gap: 20px;
}

.featured-associations {
  background-color: #fff5f9;
  border-style: solid;
  border-radius: 20px;
  border-color: #ffc3d9;
  display: flex;
  padding: 24px;
  margin: 12px;
}

.events-section,
.calendar-section {
  display: flex;
  flex-direction: column;
}
.events-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.calendar-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-calendar {
  width: 100%;
}

@media (max-width: 768px) {
  .featured-events {
    display: flex;
    flex-direction: column-reverse;
  }
}
