<h1>students unite, tonite, in the night!</h1>

<div class="featured-events">
  <div class="featured-events-left">
    <p>Kuuminta juuri nyt</p>
    <div class="events-section">
      <app-eventcard
        *ngFor="let event of featuredEvents"
        [event]="event"
        [onlyImage]="true"
      ></app-eventcard>
    </div>
  </div>

  <div class="calendar-section">
    <!-- ngSkipHydration skips Angular's hydration process
      for this part of the DOM. (necessary wgen rendering components
      that can have discrepancies between server-side and client-side rendering)
      In here it's used because we want to ensure that igx-clandar component
      operates correctly without Angular trying to reconcile differences during hydration-->
    <app-calendar ngSkipHydration></app-calendar>
  </div>
  <button>Katso kaikki tapahtumat!</button>
</div>

<div class="featured-associations">
  <p>tututstu paikallisyhdistyksiin</p>
</div>
