<div *ngIf="event">
  <h1>{{ event()?.eventName }}</h1>
  <div class="grid-container">
    <div class="grid-item">
      <img
        [src]="event()?.imageUrl || 'assets/placeholder.png'"
        alt="Event image"
        class="eventimage"
        onerror="this.src='assets/placeholder.png'"
      />
    </div>
    <div class="grid-item info-box">
      <div class="event-infobox">
        <p><strong>Päivämäärä:</strong> {{ event().date }}</p>
        <p><strong>Aloitusaika:</strong> {{ event().startingTime }}</p>
        <p>
          <strong>Sijainti:</strong> {{ event().venue }}, {{ event().city }},
          {{ event().address }}
        </p>
        <p>
          <strong>Lippujen hinta:</strong>
          {{ event().ticketprice.minticketprice }} -
          {{ event().ticketprice.maxticketprice }} €
        </p>
      </div>
    </div>
    <div class="grid-item">
      <p><strong>Lisätietoa:</strong> {{ event().details }}</p>
    </div>
    <div class="grid-item">
      <button>Osta liput</button>
    </div>
  </div>
</div>
