.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  justify-items: center;
  align-items: stretch;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#details-g3 {
  grid-row: 2 / span 2;
  align-items: flex-start;
  justify-content: flex-start;
}

.eventimage {
  max-width: 100%;
  border-radius: 10px;
}
.event-infobox p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info-box {
  background-color: #fff5f9;
  border: 1px solid #ffc3d9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
}

#map {
  position: relative;
  z-index: 0;
  margin-top: 15px;
  grid-area: 3/2/3/2;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 250px 250px 220px auto 400px;
  }

  #image-g1 {
    grid-row: 1 / span 1;
    grid-column: 1;
  }

  #info-g2 {
    grid-row: 2 / span 1;
    grid-column: 1;
  }

  #sales-g4 {
    grid-row: 3 / span 1;
    grid-column: 1;
  }

  #details-g3 {
    grid-row: 4 / span 1;
    grid-column: 1;
  }

  #map {
    grid-row: 5 / span 1;
    grid-column: 1;
  }

  .grid-item {
    justify-content: center;
    width: 100%;
  }

  .eventimage {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .info-box {
    width: 100%;
    margin: 0 auto;
  }
}
