/* Text Input Fields */
input {
  width: 40%;
  margin: 12px;
  border: 2px solid #b2b2b2;
  padding: 12px;
  border-radius: 20px;
  background-color: #fff5f9;
}

textarea {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  background-color: #fff5f9;
}
/* Global button */
button {
  padding: 10px 16px;
  border-radius: 18px;
  border: solid rgba(0, 0, 0, 0.2) 2px;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to right,
    #f3afab,
    #ebdfaf,
    #c6f1ba,
    #ace8f0,
    #c9b6f0,
    #f1b8e5
  );
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
}
/* Button with white background */
.button2 {
  padding: 10px 16px;
  border-radius: 18px;
  text-align: center;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to right,
        #f3afab,
        #ebdfaf,
        #c6f1ba,
        #ace8f0,
        #c9b6f0,
        #f1b8e5
      )
      border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  border: 3px solid transparent;
}

.important-button {
  padding: 30px;
  font-size: 24px;
  width: 70%;
}

button:disabled {
  opacity: 0.6;
}

.page-container {
  padding-top: 58px;
  width: 85%;
  margin: auto;
}

/* Google Fonts */
h1,
h2 {
  font-family: "Annie Use Your Telescope", cursive;
  margin: 12px;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 4em;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  background-color: #fffefe;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Google Fonts */
.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}
/* 
<weight>: Use a value from 100 to 900
 */
.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#grad {
  background-image: linear-gradient(
    to right,
    #f3afab,
    #ebdfaf,
    #c6f1ba,
    #ace8f0,
    #c9b6f0,
    #f1b8e5
  );
}

@media (max-width: 768px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3.5em;
  }

  .page-container {
    width: 93%;
    margin: auto;
  }
}
