<div class="page-container">
  <div class="events-start">
    <div class="left-side">
      <h1>Tapahtumat-arkisto</h1>

      <div class="searchbar">
        <input
          type="text"
          placeholder="Hae tapahtumia"
          [ngModel]="searchTerm()"
          (ngModelChange)="searchTerm.set($event)"
        />
        <div class="filters">
          <select
            class="single-filter"
            [ngModel]="selectedCity()"
            (ngModelChange)="selectedCity.set($event)"
          >
            <option value="">Kaikki kaupungit</option>
            <option *ngFor="let city of availableCities" [value]="city">
              {{ city }}
            </option>
          </select>

          <select
            class="single-filter"
            [ngModel]="selectedTag()"
            (ngModelChange)="selectedTag.set($event)"
          >
            <option value="">Kaikki tunnisteet</option>
            <option *ngFor="let tag of availableTags" [value]="tag">
              {{ tag }}
            </option>
          </select>
          <div class="date-div">
            <input
              class="date-input"
              type="text"
              [ngModel]="selectedDateRange().start"
              (ngModelChange)="updateDateRange('start', $event)"
              placeholder="Alkupäivä"
              onclick="(this.type='date')"
              (click)="openCalendar($event)"
            />
            <span
              *ngIf="selectedDateRange().start"
              (click)="clearDate('start')"
              class="material-symbols-outlined"
            >
              close
            </span>
          </div>

          <div class="date-div">
            <input
              class="date-input"
              type="text"
              [ngModel]="selectedDateRange().end"
              (ngModelChange)="updateDateRange('end', $event)"
              placeholder="Loppupäivä"
              onclick="(this.type='date')"
              (click)="openCalendar($event)"
            />
            <span
              *ngIf="selectedDateRange().end"
              (click)="clearDate('end')"
              class="material-symbols-outlined"
            >
              close
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="right-side">
      <img class="banner-img" [src]="'assets/stunite_banner.png'" />
    </div>
  </div>

  <div *ngIf="filteredEventData().length" class="events">
    <app-eventcard
      *ngFor="let event of filteredEventData()"
      [event]="event"
    ></app-eventcard>
  </div>

  <div *ngIf="!filteredEventData().length">
    <p>Tapahtumia ei löytynyt.</p>
  </div>
</div>
