h1 {
  margin: 0;
}

.events {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
}

.events-start {
  margin: 12px 0;
  display: flex;
}
.date-div {
  display: flex;
  align-items: center;
  z-index: 0;
  position: relative;
}
.date-input {
  width: 150px !important;
  z-index: 0;
  position: relative;
  border: 1px solid #b2b2b2;
}
.searchbar {
  margin: 20px 0px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.searchbar input {
  width: 100%;
  padding: 12.5px 16px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 0 10px 0 0;
}

.left-side {
  display: flex;
  flex-direction: column;
}

input[type="date"] {
  z-index: 0;
  position: relative;
  border: 1px solid #b2b2b2;
}

.right-side {
  display: flex;
}
.filters {
  display: flex;
  margin-top: 15px;
  padding-top: 15px;
}

.single-filter {
  height: 45px;
  margin-right: 10px;
  border: 1px solid #b2b2b2;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #fff5f9;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.banner-img {
  max-width: 400px;
  height: 300px;
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .searchbar {
    max-width: 300px;
  }

  .right-side {
    display: none;
  }

  .events-start {
    flex-direction: column;
  }

  .left-side {
    align-items: center;
  }

  .searchbar input {
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
  .single-filter {
    margin-bottom: 10px;
    margin-top: 0;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
    padding-top: 5px;
  }
}
