<body>
  <div class="page-container">
    <img class="about-us-img" [src]="'assets/stunite.png'" />
    <div class="left">
      <h2>Mikä ihmeen stunite?</h2>
      <p>STUNITE on viiden tietojenkäsittelyopiskelijan Ticorporate-projekti, jota on työstetty syksyn 2024 ajan. Idea
        sovellukseen syntyi omasta tarpeesta; kaksi meistä on mukana opiskelijajärjestön aktiivitoiminnassa, ja olemme
        haaveilleet tapahtumayhteistöitä helpottavasta työkalusta.</p>
      <p>STUNITE on tapahtumakävijöille ja -järjestäjille suunnattu tapahtumasivu,
        jonka päällimmäinen tarkoitus on tuoda tapahtumat opiskelijoiden tietoisuuteen
        poikkiteiteellisesti. Haluamme edistää erikokoisten järjestöjen ja heidän tapahtumiensa
        näkyvyyttä ja samalla helpottaa yhteistyötä eri järjestöjen välillä.</p>
      <p>Järjestäjänäkymän suola on järjestäjäkalenteri, josta järjestäjät näkevät tulossa olevat tapahtumat;
        sellaisetkin jotka ovat vasta luonnoksen tasolla. Näin voidaan edesauttaa esimerkiksi sitä, ettei isoja,
        kilpailevia tapahtumia järjestetä samana päivänä.</p>
    </div>

    <div class="lootat">
      <div class="loota">
        <h2 class="loota-head">Viisi</h2>
        <p class="loota-text">tekijää</p>
      </div>
      <div class="loota">
        <h2 class="loota-text">Tosi monta</h2>
        <p class="loota-text">yhdistystä</p>
      </div>
      <div class="loota">
        <h2 class="loota-text">Vitusti</h2>
        <p class="loota-text">tapahtumia</p>
      </div>
    </div>

    <img class="twerk-img" [src]="'assets/stunite_banner.png'" />
    <h2 class="end-text">students unite, tonite, in the nite!</h2>
  </div>
</body>