.mobile-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

}
h1 {
  text-align: center;
}


input {
  width: 75% !important;
  margin-bottom: 28px;
}

.banner-img {
  max-width: 100%;
}
.login-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 52px;
}