<div class="association-page">
  <p class="name">{{ association()?.organizationName }}</p>
  <div *ngIf="association()" class="association-container">
    <div class="pic">
      <img
        src="../assets/konkurssi.png"
        alt="Association image"
        class="associationimage"
      />
    </div>
    <div class="association-info">
      <p>
        {{ association()?.city }}, {{ association()?.address }},
        {{ association()?.postalCode }}
      </p>
      <p>{{ association()?.website }}</p>
      <p>{{ association()?.email }}</p>
    </div>
  </div>
  <div>
    <p><strong>Kuvaus</strong></p>
    <p>{{ association()?.description }}</p>
  </div>
  <div>
    <p><strong>Koulutusalat</strong></p>

  </div>
  <div>
    <p><strong>Tulevat tapahtumat</strong></p>
  </div>
  <div>
    <p><strong>Menneet tapahtumat</strong></p>
  </div>
</div>
{{ association() }}
