<div class="page-container">
  <div class="association-page">
    <p class="name">{{ association?.organizationName }}</p>
    <p class="official-name">{{ association?.officialName }}</p>
    <div *ngIf="association" class="association-container">
      <div class="pic">
        <img src="../assets/konkurssi.png" alt="Association image" class="associationimage" />
      </div>
      <div class="association-info">
        <p>
          <span class="material-symbols-outlined"> school </span>
          Koulu
        </p>

        <p>
          <span class="material-symbols-outlined"> distance </span>
          {{ association.city }}, {{ association.address }}
        </p>

        <p>
          <span class="material-symbols-outlined"> captive_portal </span>
          {{ association.website }}
        </p>
        <p>
          <span class="material-symbols-outlined"> mail </span>
          {{ association.email }}
        </p>
      </div>
    </div>
    <div class="association-paragraphs">
      <p><strong>Kuvaus</strong></p>
      <p>{{ association?.description }}</p>
    </div>
    <div class="association-paragraphs">
      <p><strong>Koulutusalat</strong></p>
      <ul>
        <li>Tähän</li>
        <li>Lista</li>
        <li>Opiskelijajärjestön</li>
        <li>Koulutusaloista</li>
      </ul>
    </div>

    <div class="association-paragraphs">
      <p><strong>Tapahtumat</strong></p>
      <div class="events" *ngIf="allEvents.length > 0; else noEvents">
        <app-eventcard *ngFor="let event of allEvents" [event]="event"></app-eventcard>
      </div>
      <ng-template #noEvents>
        <p>Ei tapahtumia.</p>
      </ng-template>
    </div>
  </div>
</div>