<div class="association-page">
  <h2 class="name">{{ association?.organizationPublicInfo?.name }}</h2>
  <div *ngIf="association" class="association-container">
    <div class="pic">
      <img
        src="../assets/konkurssi.png"
        alt="Association image"
        class="associationimage"
      />
    </div>
    <div class="association-info">
      <p>
        {{ association.organizationPublicInfo.address.street }},
        {{ association.organizationPublicInfo.address.city }},
        {{ association.organizationPublicInfo.address.postalCode }}
      </p>
      <p>{{ association.organizationPublicInfo.website }}</p>
      <p>{{ association.organizerRegistration.email }}</p>
    </div>
  </div>
  <div>
    <h2>Kuvaus</h2>
    <p>{{ association?.organizationPublicInfo?.description }}</p>
  </div>
  <div>
    <h2>Koulutusalat</h2>
  </div>
  <div>
    <h2>Tulevat tapahtumat</h2>
  </div>
  <div>
    <h2>Menneet tapahtumat</h2>
  </div>
</div>
