<div class="profile-container">
  <h2>Profiili</h2>
  <p *ngIf="lomake.get('etunimi')?.value">{{ lomake.get("etunimi")?.value }}</p>
  <form [formGroup]="lomake" (ngSubmit)="onSubmit()">
    <!-- Omat tiedot osio -->
    <div class="profile-details">
      <div class="profile-image">
        <img src="../../../assets/unicorn.webp" alt="Profiilikuva" />
        <p>
          Foorumilla näkyvä nimi:
          <strong>{{ lomake.get("etunimi")?.value || "Tuntematon" }}</strong>
        </p>
      </div>

      <div class="info-fields">
        <div class="form-field">
          <label for="etunimi">Etunimi:</label>
          <input
            id="etunimi"
            formControlName="etunimi"
            type="text"
            placeholder="Syötä etunimi"
          />
        </div>
        <div class="form-field">
          <label for="sukunimi">Sukunimi:</label>
          <input
            id="sukunimi"
            formControlName="sukunimi"
            type="text"
            placeholder="Syötä sukunimi"
          />
        </div>
        <div class="form-field">
          <label for="sahkoposti">Sähköposti:</label>
          <input
            id="sahkoposti"
            formControlName="sahkoposti"
            type="email"
            placeholder="Syötä sähköposti"
          />
        </div>
        <div class="form-field">
          <label for="puhelin">Puhelinnumero:</label>
          <input
            id="puhelin"
            formControlName="puhelin"
            type="tel"
            placeholder="Syötä numero"
          />
        </div>
        <div class="form-field">
          <label for="koulu">Koulu:</label>
          <input
            id="koulu"
            formControlName="koulu"
            type="text"
            placeholder="Syötä koulu"
          />
        </div>

        <div class="form-field">
          <label for="ala">Ala:</label>
          <input
            id="ala"
            formControlName="ala"
            type="text"
            placeholder="Syötä ala"
          />
        </div>
        <div class="form-field">
          <label for="paikallisyhdistys">Paikallisyhdistys:</label>
          <input
            id="paikallisyhdistys"
            formControlName="paikallisyhdistys"
            type="text"
            placeholder="Syötä paikallisyhdistys"
          />
        </div>
      </div>
    </div>

    <!-- Muokkauspainike -->
    <button type="submit" class="edit-button">Muokkaa</button>
    <!-- Mielenkiinnon kohteet -->
    <div class="interests-section">
      <label>Mielenkiinnon kohteet:</label>
      <div class="button-group">
        <button type="button" (click)="selectKohde('yhdistys')">
          Yhdistys
        </button>
        <button type="button" (click)="selectKohde('bileet')">Bileet</button>
        <button type="button" (click)="selectKohde('urheilu')">Urheilu</button>
        <button type="button" (click)="selectKohde('opiskelu')">
          Opiskelu
        </button>
        <button type="button" (click)="selectKohde('deittailu')">
          Deittailu
        </button>
        <button type="button" (click)="selectKohde('luonto')">Luonto</button>
      </div>
    </div>
  </form>

  <!-- Valitut mielenkiinnon kohteet -->
  <p *ngIf="valitutKohteet.length > 0">
    Valitsit mielenkiinnon kohteiksi: {{ valitutKohteet.join(", ") }}
  </p>
  <button (click)="logout()" class="logout-button">Kirjaudu ulos</button>
</div>
