<div class="modal">
  <div class="modal-content">
    <span (click)="onClose()" class="close">&times;</span>
    <span
      *ngIf="!showLoginButtons"
      class="material-symbols-outlined"
      (click)="onBack()"
    >
      arrow_back_ios</span
    >

    <h1>stunite</h1>
    <div class="login-buttons" *ngIf="showLoginButtons">
      <button class="button2" (click)="showLogin()">
        Kirjaudu sisään tapahtumakävijänä
      </button>
      <button class="button2" (click)="openOrganizerLogin()">
        Kirjaudu sisään järjestäjänä
      </button>
    </div>

    <form *ngIf="showLoginForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <input
        id="email"
        placeholder="Sähköposti"
        [(ngModel)]="email"
        name="email"
        required
      />
      <input
        id="password"
        placeholder="Salasana"
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      />

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button type="submit" [disabled]="!loginForm.valid">
        Kirjaudu Sisään
      </button>
    </form>

    <p>
      Eikö sinulla ole tunnuksia?
      <a (click)="goRegister()"><u> Voit rekisteröityä täällä.</u> </a>
    </p>
    <a href="https://forms.gle/GbSB8bNWTD57LAzW8">
      <p>Järjestäjän rekisteröityminen</p>
    </a>
  </div>
</div>
