<div class="modal">
  <div class="modal-content">
    <span (click)="onClose()" class="close">&times;</span>

    <h1>stunite</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <input
        id="email"
        placeholder="Sähköposti"
        [(ngModel)]="email"
        name="email"
        required
      />
      <input
        id="password"
        placeholder="Salasana"
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      />

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button type="submit" [disabled]="!loginForm.valid">
        Kirjaudu Sisään
      </button>
      <!-- Estä lähetys tyhjällä lomakkeella -->
    </form>

    <p>
      Eikö sinulla ole tunnuksia?
      <a (click)="goRegister()"><u> Voit rekisteröityä täällä.</u> </a>
    </p>
    <p>
      Oletko järjestäjä?
      <a (click)="openOrganizerLogin()"><u>Kirjaudu täältä.</u></a>
    </p>

    <a href="https://forms.gle/GbSB8bNWTD57LAzW8">
      <p>Järjestäjän rekisteröityminen</p>
    </a>
  </div>
</div>
