<div class="modal">
  <div class="modal-content">
    <span (click)="onClose()" class="close">&times;</span>
    <span class="material-symbols-outlined" (click)="onBack()">
      arrow_back_ios</span
    >
    <h2>Järjestäjä kirjautuminen</h2>

    <form (ngSubmit)="onSubmit()" #organizerLoginForm="ngForm">
      <input
        id="email"
        placeholder="Sähköposti"
        [(ngModel)]="email"
        name="email"
        required
      />
      <input
        id="password"
        placeholder="Salasana"
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      />
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button type="submit" [disabled]="!organizerLoginForm.valid">
        Kirjaudu Sisään
      </button>
      <a href="https://forms.gle/GbSB8bNWTD57LAzW8">
        <p>Järjestäjän rekisteröityminen</p>
      </a>
    </form>
  </div>
</div>
