<div class="page-container">
  <div class="associations-start">
    <div class="left-side">
      <h1>Yhteisö</h1>
      <div class="searchbar">
        <input
          type="text"
          placeholder="Hae yhteisöjä"
          [(ngModel)]="searchTerm"
        />
      </div>
    </div>
  </div>

  <div *ngIf="filteredAssociationData().length" class="associations">
    <app-associationcard
      *ngFor="let association of filteredAssociationData()"
      [association]="association"
    ></app-associationcard>
  </div>

  <div *ngIf="!filteredAssociationData().length">
    <p>Yhteisöjä ei löytynyt.</p>
  </div>
</div>
