<div class="page-container">
  <div class="associations-start">
    <div class="left-side">
      <h1>Yhteisö</h1>
      <div class="searchbar">
        <input
          type="text"
          placeholder="Hae yhteisöjä"
          [ngModel]="searchTerm()"
          (ngModelChange)="searchTerm.set($event)"
        />
      </div>
      <div class="filters">
        <select
          class="single-filter"
          [ngModel]="selectedCity()"
          (ngModelChange)="selectedCity.set($event)"
        >
          <option value="">Kaikki kaupungit</option>
          <option *ngFor="let city of availableCities" [value]="city">
            {{ city }}
          </option>
        </select>
        <select
          class="single-filter"
          [ngModel]="selectedType()"
          (ngModelChange)="selectedType.set($event)"
        >
          <option value="">Kaikki tyypit</option>
          <option *ngFor="let type of availableTypes" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="filteredAssociationData().length" class="associations">
    <app-associationcard
      *ngFor="let association of filteredAssociationData()"
      [association]="association"
    ></app-associationcard>
  </div>

  <div *ngIf="!filteredAssociationData().length">
    <p>Yhteisöjä ei löytynyt.</p>
  </div>
</div>
