<div class="page-container">
  <h1>Paikallisyhdistykset</h1>
  <div>
    <input
      type="text"
      placeholder="Hae paikallisyhdistyksiä"
      [(ngModel)]="searchTerm"
    />
  </div>

  <div *ngIf="filteredAssociationData().length" class="associations">
    <app-associationcard
      *ngFor="let association of filteredAssociationData()"
      [association]="association"
    ></app-associationcard>
  </div>

  <div *ngIf="!filteredAssociationData().length">
    <p>Paikallisyhdistyksiä ei löytynyt.</p>
  </div>
</div>
